.contacts {
  text-align: center;
  background: #f5f5f5;
}
  .contacts p {
    font-size: 23px;
    font-weight: 900;
    font-family: 'Montserrat';
    margin-bottom: 20px;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 230px;
    margin: 10px auto;
  }

  .mail{
    position: relative;
    width: 20px;
    height: 25px;
    top: 7px;
  }

  span {
    font-size: 18px;
    margin-left: 10px;
    font-weight: 700;
  }

